.switch
{
    position: relative;
    display: inline-block;
    width: 51px;
    height: 28px;
    cursor: pointer;
    background-color:white;
    border-radius: 20px;
    margin-bottom: 0px;
}
.switch_input:checked
{
    border:none;
    box-shadow: inset 0 0 0 17px #1F6FA4;
    -webkit-animation-name: none;
}
.switch_input
{
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    font-size: 12px;
    width: 51px;
    height: 32px;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    box-shadow: inset 0 0 0 15px #fff;
    position: static;
    overflow: hidden;
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-animation-duration: .65s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: switchAnimationOff;
}
.switch_input:checked + em
{/*
    box-shadow: 0 0 2px rgba(0,0,0,.5), 0 5px 6px rgba(0,0,0,0.45);
    box-shadow: 0 0 2px rgba(0,0,0,.5), 0 5px 6px rgba(0,0,0,0.45);*/
    -webkit-transform: translate3d(20px,0,0);
    -webkit-transition-duration: .2s;
    -webkit-animation-duration: .45s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: switchThumbAnimation;
}
.switch > em
{
    position: absolute;
    top: 2px;
    left:2px;
    display: block;
    height: 28px;
    width: 29px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.25);/*  0 0 2px rgba(0,0,0,.5), */
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    -webkit-animation-duration: .45s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: switchThumbAnimationOff;
}
@-webkit-keyframes switchAnimationOff
{
    0%{box-shadow:inset 0 0 0 15px #e6e6e6;}
    49.999%{box-shadow: inset 0 0 0 0 #e6e6e6;}
    50%{box-shadow:inset 0 0 0 0 #fff;}
    100%{box-shadow:inset 0 0 0 15px #fff;}
}
@-webkit-keyframes switchThumbAnimation {
    0% { width: 27px; }
    1% { width: 40px; }
    50% { width: 27px; }	
    100% { width: 27px; }	
}
@-webkit-keyframes switchThumbAnimationOff {
    0% { width: 27px; }
    5% { width: 45px; }
    50% { width: 27px; }	
    100% { width: 27px; }	
}